{% extends 'base.html' %}

{% block title %} Profile - Ecafe {% endblock %}


{% block style %}

.user-details{
    padding: 12rem 9%;
}

.form-container{
   padding: 12rem 9%;
}

.user-details .user{
   border:.2rem solid black;
   padding:2rem;
   max-width: 40rem;
   margin:0 auto;
}

.user-details .user img{
   width: 100%;
   height: 15rem;
   object-fit: contain;
   margin-bottom: 2rem;
}

.user-details .user p{
   line-height: 1.5;
   margin-bottom: .5rem;
   font-size: 2rem;
}

.user-details .user i{
   margin-right: .7rem;
   color:var(--red);
}

.user-details .user p.address{
   margin-top: 2rem;
}


.form-container form{
   max-width: 50rem;
   margin:0 auto;
   border:.2rem solid black;
   padding:2rem;
   text-align: center;
}

.form-container form h3{
   margin-bottom: 1rem;
   font-size: 2.5rem;
   text-transform: uppercase;
   color:black;
}

.form-container form .box{
   margin:1rem 0;
   padding:1.4rem;
   color:black;
   border:.2rem solid black;
   font-size: 1.8rem;
   width: 100%;
}

.form-container form p{
   margin-top: 1.5rem;
   font-size: 2rem;
   color: black;
}

.form-container form p a{
   font-size: 2rem;
   color:var(--red);
}

.form-container form p a:hover{
   color:black;
}


{% endblock %}

{% block body %}

{% load static %}

{% if user.is_authenticated %}

<section class="user-details">

    <h3 class="heading">Welcome <span>{{ request.user.username }}</span></h3>

   <div class="user">
      <img src="{% static 'images/user-icon.png' %}" alt="">
      <p><i class="fas fa-user"></i>{{ request.user.username }}</p>
      <p><i class="fas fa-user"></i>{{ request.user.first_name }}</p>
      <p><i class="fas fa-user"></i>{{ request.user.last_name }}</p>
      {% comment %} <p><i class="fas fa-phone"></i>1234567890</p> {% endcomment %}
      <p><i class="fas fa-envelope"></i>{{ request.user.email }}</p>
      {% comment %} <p class="address"><i class="fas fa-map-marker-alt"></i>House 140 - 16 - B1 , Township, Lahore</p> {% endcomment %}
      {% comment %} <a href="update_profile.html" class="btn">update profile</a> {% endcomment %}
      <a href="/member/logout" class="btn">Logout</a>
   </div>

</section>

{% else %}

<section class="form-container">

   <form action="/member/login" method="post">
      {% csrf_token %}
      <h3>login now</h3>
      <input type="text" required name="username" id="username" placeholder="Enter your Username" class="box">
      <input type="password" required name="password" id="password" placeholder="Enter your password" class="box">
      <input type="submit" class="btn" name="submit">
      <p>don't have an account? <a href="/member/register">register now</a></p>
   </form>

</section>

{% endif%}

{% endblock %}