{% extends 'base.html' %}

{% block title %} Gallery - Ecafe {% endblock %}

{% block style %}

.gallery{
    padding: 12rem 9%;
}

{% endblock %}

{% block body %}

{% load static %}



    <!-- Gallery section start here  -->

    <section class="gallery" id="gallery">
        <h1 class="heading">our Food <span>Gallery</span></h1>

        <div class="box-container">

            <div class="box">
                <img src="{% static 'images/g-1.jpg' %}" alt="">
                <div class="content">
                    <h3>Tasty Burger</h3>
                    <p>The premium beef flavor with balance of sauce and spice makes this worthy of being called our signature</p>
                </div>
            </div>

            <div class="box">
                <img src="{% static 'images/g-2.jpg' %}" alt="">
                <div class="content">
                    <h3>Filled Sandwich</h3>
                    <p>Bbq sauce topped on grilled chicken fillet with veggies, cheese slice and our fresh toasted bread slices</p>

                </div>
            </div>

            <div class="box">
                <img src="{% static 'images/g-3.jpg' %}" alt="">
                <div class="content">
                    <h3>Tasty Wrap</h3>
                    <p>Roasted Vegetable Greek Chicken Wraps</p>

                </div>
            </div>

            <div class="box">
                <img src="{% static 'images/g-4.jpg' %}" alt="">
                <div class="content">
                    <h3>Chocolate Cupcakes</h3>
                    <p>Milk chocolate with hazelnut chocolate chips</p>

                </div>
            </div>

            <div class="box">
                <img src="{% static 'images/g-5.jpg' %}" alt="">
                <div class="content">
                    <h3>Tasty Sweets</h3>
                    <p>Unique combinations of sweets, to have a taste of variety of delicacy.</p>

                </div>
            </div>

            <div class="box">
                <img src="{% static 'images/g-6.jpg' %}" alt="">
                <div class="content">
                    <h3>Hot shots</h3>
                    <p>Crispy and spicy chicken shots</p>

                </div>
            </div>

            <div class="box">
                <img src="{% static 'images/g-7.jpg' %}" alt="">
                <div class="content">
                    <h3>Healthy breaky</h3>
                    <p>Fried egg with toasted bread and roasted tomatoes</p>

                </div>
            </div>

            <div class="box">
                <img src="{% static 'images/g-8.jpg' %}" alt="">
                <div class="content">
                    <h3>Dark chocolate</h3>
                    <p>enjoy this decadently dark chocolate  with cocoa solids.</p>

                </div>
            </div>

            <div class="box">
                <img src="{% static 'images/g-9.jpg' %}" alt="">
                <div class="content">
                    <h3>Berry bread</h3>
                    <p>Banana bread filled and topped with blueberry compote and served with pure Canadian maple syrup.</p>

                </div>
            </div>

        </div>
    </section>

    <!-- Gallery section end here  -->



{% endblock %}