{% extends 'base.html' %}

{% block title %} Gallery - Ecafe {% endblock %}

{% block style %}

.gallery{
    padding: 12rem 9%;
}

{% endblock %}

{% block body %}

{% load static %}



    <!-- Gallery section start here  -->

    <section class="gallery" id="gallery">
        <h1 class="heading">our Food <span>Gallery</span></h1>

        <div class="box-container">

            <div class="box">
                <img src="{% static 'images/g-1.jpg' %}" alt="">
                <div class="content">
                    <h3>Tasty Food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolorum unde quaerat iusto maiores eligendi tenetur aspernatur, ea neque earum.</p>
                </div>
            </div>

            <div class="box">
                <img src="{% static 'images/g-2.jpg' %}" alt="">
                <div class="content">
                    <h3>Tasty Food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolorum unde quaerat iusto maiores eligendi tenetur aspernatur, ea neque earum.</p>

                </div>
            </div>

            <div class="box">
                <img src="{% static 'images/g-3.jpg' %}" alt="">
                <div class="content">
                    <h3>Tasty Food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolorum unde quaerat iusto maiores eligendi tenetur aspernatur, ea neque earum.</p>

                </div>
            </div>

            <div class="box">
                <img src="{% static 'images/g-4.jpg' %}" alt="">
                <div class="content">
                    <h3>Tasty Food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolorum unde quaerat iusto maiores eligendi tenetur aspernatur, ea neque earum.</p>

                </div>
            </div>

            <div class="box">
                <img src="{% static 'images/g-5.jpg' %}" alt="">
                <div class="content">
                    <h3>Tasty Food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolorum unde quaerat iusto maiores eligendi tenetur aspernatur, ea neque earum.</p>

                </div>
            </div>

            <div class="box">
                <img src="{% static 'images/g-6.jpg' %}" alt="">
                <div class="content">
                    <h3>Tasty Food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolorum unde quaerat iusto maiores eligendi tenetur aspernatur, ea neque earum.</p>

                </div>
            </div>

            <div class="box">
                <img src="{% static 'images/g-7.jpg' %}" alt="">
                <div class="content">
                    <h3>Tasty Food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolorum unde quaerat iusto maiores eligendi tenetur aspernatur, ea neque earum.</p>

                </div>
            </div>

            <div class="box">
                <img src="{% static 'images/g-8.jpg' %}" alt="">
                <div class="content">
                    <h3>Tasty Food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolorum unde quaerat iusto maiores eligendi tenetur aspernatur, ea neque earum.</p>

                </div>
            </div>

            <div class="box">
                <img src="{% static 'images/g-9.jpg' %}" alt="">
                <div class="content">
                    <h3>Tasty Food</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolorum unde quaerat iusto maiores eligendi tenetur aspernatur, ea neque earum.</p>

                </div>
            </div>

        </div>
    </section>

    <!-- Gallery section end here  -->



{% endblock %}